[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
python-dotenv = "*"
langchain = "*"
openai = "*"
google-search-results = "*"
google-api-python-client = "*"
tiktoken = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
unstructured = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
start = "npx forever start --uid 'chatgpt' -l output.log --append -w --watchDirectory ./src -c python3 src/app.py"
stop = "npx forever stop chatgpt"
format = "pysen"
lint = "pysen"
